footer.footer-sidebar {
    right: 0;
}

@media screen and (max-width: 1200px) {
	footer.footer-sidebar {
		right: 10px;
        left: inherit;
	}
}

@media screen and (max-width: 991px) {
	footer.footer-sidebar {
		float: right;
		right: 0 !important;
        left: inherit !important;
	}
}