main.main-sidebar {
    margin:0 320px $s-5 0;
}


@media screen and (max-width: 1200px) {
	main {
		&.main-sidebar {
			margin: 0 260px 0 0;
		}
		&.main-sidebar-right {
			margin: 0 90px 0 240px;
		}
	}
}