.navbar.navbar-sidebar {
    margin: 0px 367px 0 47px;
}
.navbar li .switch {
    position: relative;
    margin: 0 $s-3 0 $s-1;
    float: revert;
    top: $s-1;
}
@media screen and (max-width: 1200px) {
	.navbar.navbar-sidebar {
		margin: 0 294px 0 $s-5;
	}
}
.accessibilityactive {
	header.sticky-top {
		top: $s-6;
		@extend %anim;
	}
	header {
		top: 0;
		@extend %anim;
	}
}

@media screen and (max-width: 991px) {
	.navbar.navbar-sidebar {
		margin: 0;
		padding: 0 $s-4;
	}
}