.text-start,
.text-left {
    text-align: right!important;
}
.text-end,
.text-right {
    text-align: left!important;
}
.float-start,
.float-left {
    float: right!important;
}
.float-end,
.float-right {
    float: left!important;
}