.nav {
	margin-left: auto;
	&.nav-pills {
		.nav-link {
			border-radius: 0;
			color: var(--text);
			padding: $s-2 $s-3;
			&:hover {
				background-color: var(--element) !important;
			}
			&.active {
				background-color: var(--element) !important;
				.users {
					color: var(--title);
					.initiale {
						background-color: var(--element);
					}
				}
			}
		}
	}
}