.progress {
	margin-bottom:$s-3;
	background:var(--secondary-300);
	height:$s-2;
	@extend %radius;
	box-shadow: none;
    overflow: hidden;

	.progress-bar {
		box-shadow: none;
		background-color: var(--primary-100);
		&.bg-valid,
		&.bg-sucess {
			background-color: var(--primary-100);
		}
		&.bg-error {
			background-color: $error-100;
		}
		&.bg-warning {
			background-color: $warning-100;
		}
		&.bg-info {
			background-color: $info-100;
		}
	}
}