section {
	margin: 0 0 $s-3;
	padding: $s-3 $s-4;
	@extend %radius;
	border:0;
	background: var(--white);
	width: 100%;
	position: relative;
	> h2 {
		margin-top: 0;
	}
	> .card {
		padding: 0 !important;
		margin: 0 !important;
		box-shadow: none;
		> h2, h3 {
			margin-top: 0;
		}
	}
	.input-group [type=search], .input-group [type=search]:hover, .input-group [type=search]:focus {
		border: 1px solid var(--border) !important;
	}
}