.sticky-top {
    &.sticky-white {
        background-color: rgba(var(--white-rgb), 0.84) !important;
        backdrop-filter: blur(12px);
        backdrop-filter: blur(12px);
        z-index: 5;
        border: 0;
    }
}